/* your code */
th{
	background-color:darkblue;
	color:white;
}

table{

	border:2px solid black;
	width:100%;
	border-collapse:collapse;
	border-radius:px;
}

td{
	text-align:center;
	border:2px solid black;
}